{% extends 'base.html.twig' %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                {{message}}
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                {{message}}
            </div>
        </div>
    {% endfor %}
    <h2><span class="fa fa-download"></span> Test import de fichier avec enregistrement des données en base de donnée </h2>
    <div class="row">
    {{ form_start(formImport) }}
    <div class="mb-3 col-md-3">
        <label class="form-label">Fichier : </label>
        {{ form_widget(formImport.file) }}
    </div>
    <div class="mb-3 col-md-3">
        {{ form_widget(formImport.Importer) }}
    </div>
    {{ form_end(formImport) }}
</div>
{% endblock %}
